@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.button {
    font-size: 14px;
    color: #1b1b1b !important;
    border-width: 2px;
    height: auto;
}

.button-primary {
    background-color: #0AADFF !important;
    border-color: #0AADFF !important;
}

.button-secondary {
    color: #fff !important;
    border-color: #f2d541;
}

.align-center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}
